<div class="spinner" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div class="container">


  <h1 *ngIf="new && edit">Cadastrar novo Cliente</h1>
  <h1 *ngIf="view">Dados Clientes</h1>
  <h1 *ngIf="edit && !new">Editar Clientes</h1>




  <form [formGroup]="novoCliente" novalidate>

    <!-- Verifica se é PF ou PJ -->
    <div class="btnEditar">
      <div class="inputTipoEmpresa">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="tipo_cadastro" id="pessoaFisica" value="pf" formControlName="tipo_cadastro" (click)="limpaForm()">
          <label class="form-check-label" for="pessoaFisica">
            Pessoa Física
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="tipo_cadastro" id="pessoaJuridica" value="pj" formControlName="tipo_cadastro" (click)="limpaForm()">
          <label class="form-check-label" for="pessoaJuridica">
            Pessoa Juridica
          </label>
        </div>
      </div>

      <div *ngIf="view">
        <button class="btn btn-danger" [routerLink]="'/cadastros/clientes/listar'" >Voltar</button>
        <button class="btn btn-primary" (click)="editar()">Editar</button>
      </div>

    </div>

    <!--DadosPessoais-->

    <!--Se For Pessoa Física-->
    <div *ngIf="novoCliente.value.tipo_cadastro === 'pf'">
      <div class="area-form">
        <div class="form-check" *ngIf="!new">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="ativo">
          <label class="form-check-label" for="flexCheckDefault" style="margin-top: 2px">
            Ativo
          </label>
        </div>
        <h6>Dados Pessoais:</h6>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="nome_razao_social" class="form-label">Nome Completo</label>
              <input type="text" class="form-control help-block with-errors" id="nome_razao_social" formControlName="nome_razao_social">
              <span class="text-danger"
                    *ngIf="novoCliente.get('nome_razao_social')?.errors?.['required'] && novoCliente.get('nome_razao_social')?.touched">
                O campo nome é obrigatório
              </span>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="mail" class="form-label">E-mail</label>
              <input type="email" class="form-control" id="mail" formControlName="mail" >
              <span class="text-danger"
                    *ngIf="novoCliente.get('mail')?.errors?.['required'] && novoCliente.get('mail')?.touched">
                O campo email é obrigatório
              </span>
              <span class="text-danger"
                    *ngIf="novoCliente.get('mail')?.errors?.['email'] && novoCliente.get('mail')?.touched">
                O valor informado não é um endereço de email valido
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="cpf_cnpj" class="form-label">CPF</label>
              <input type="text" class="form-control" id="cpf_cnpj" formControlName="cpf_cnpj" mask="000.000.000-00">
              <span class="text-danger"
                    *ngIf="novoCliente.get('cpf_cnpj')?.errors?.['required'] && novoCliente.get('cpf_cnpj')?.touched">
                O campo CPF é obrigatório
              </span>
              <span class="text-danger"
                    *ngIf="novoCliente.get('cpf_cnpj')?.errors?.['cpfCnpjInvalido'] && novoCliente.get('cpf_cnpj')?.touched">
                O CPF informado não é valido
              </span>

            </div>
          </div>
          <div class="col">
            <div class="mb-3">
            <label for="rg_ie" class="form-label">RG</label>
            <div class="input-group">
              <input type="text" class="form-control" id="rg_ie" formControlName="rg_ie">
            </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="telefone" class="form-label">Telefone Fixo</label>
              <div class="input-group">
                <input type="text" class="form-control" id="telefone" formControlName="telefone" mask="(00) 0000-0000">
                <span class="text-danger"
                      *ngIf="novoCliente.get('telefone')?.errors?.['telefoneInvalido'] && novoCliente.get('telefone')?.touched">
                O campo telefone deve conter um numero de telefone valido
              </span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="celular" class="form-label">Celular</label>
              <input type="text" class="form-control" id="celular" formControlName="celular" mask="(00) 0000-0000||(00) 00000-0000">
              <span class="text-danger"
                    *ngIf="novoCliente.get('celular')?.errors?.['required'] && novoCliente.get('celular')?.touched">
                O campo celular é obrigatório
              </span>
              <span class="text-danger"
                    *ngIf="novoCliente.get('celular')?.errors?.['telefoneInvalido'] && novoCliente.get('celular')?.touched">
                O campo celular deve conter um numero de telefone celular valido
              </span>

            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="celular2" class="form-label">Celular 2</label>
              <div class="input-group">
                <input type="text" class="form-control" id="celular2" formControlName="celular2" mask="(00) 0000-0000||(00) 00000-0000">
                <span class="text-danger"
                      *ngIf="novoCliente.get('celular2')?.errors?.['telefoneInvalido'] && novoCliente.get('celular2')?.touched">
                O campo celular2 deve conter um numero de telefone celular valido
              </span>
              </div></div>
          </div>
        </div>
      </div>



    </div>

    <!--Se For Pessoa Juridica-->

    <div *ngIf="novoCliente.value.tipo_cadastro === 'pj'">
      <div class="area-form">
        <h6>Dados Pessoais:</h6>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="nome_razao_social" class="form-label">Razão Social</label>
              <input type="text" class="form-control" id="nome_razao_social" formControlName="nome_razao_social">
              <span class="text-danger"
                    *ngIf="novoCliente.get('nome_razao_social')?.errors?.['required'] && novoCliente.get('nome_razao_social')?.touched">
                O campo razão social é obrigatório
              </span>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="mail" class="form-label">E-mail</label>
              <input type="email" class="form-control" id="mail" formControlName="mail" >
              <span class="text-danger"
                    *ngIf="novoCliente.get('mail')?.errors?.['required'] && novoCliente.get('mail')?.touched">
                O campo email é obrigatório
              </span>
              <span class="text-danger"
                    *ngIf="novoCliente.get('mail')?.errors?.['email'] && novoCliente.get('mail')?.touched">
                O valor informado deve ser um email valido
              </span>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="cpf_cnpj" class="form-label">CNPJ</label>
              <input type="text" class="form-control" id="cpf_cnpj" formControlName="cpf_cnpj" mask="00.000.000/0000-00">
              <span class="text-danger"
                    *ngIf="novoCliente.get('cpf_cnpj')?.errors?.['required'] && novoCliente.get('cpf_cnpj')?.touched">
                O campo CNPJ é obrigatório
              </span>
              <span class="text-danger"
                    *ngIf="novoCliente.get('cpf_cnpj')?.errors?.['cpfCnpjInvalido'] && novoCliente.get('cpf_cnpj')?.touched">
                O CNPJ informado não é valido
              </span>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
            <label for="rg_ie" class="form-label">Inscrição Estadual</label>
              <input type="text" class="form-control" id="rg_ie" formControlName="rg_ie">
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="telefone" class="form-label">Telefone Fixo</label>
                <input type="text" class="form-control" id="telefone" formControlName="telefone" mask="(00) 0000-0000">
              <span class="text-danger"
                    *ngIf="novoCliente.get('telefone')?.errors?.['telefoneInvalido'] && novoCliente.get('telefone')?.touched">
                O campo telefone deve conter um numero de telefone valido
              </span>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="celular" class="form-label">Celular</label>
              <input type="text" class="form-control" id="celular" formControlName="celular" mask="(00) 0000-0000||(00) 00000-0000">
              <span class="text-danger"
                    *ngIf="novoCliente.get('celular')?.errors?.['required'] && novoCliente.get('celular')?.touched">
                O campo celular é obrigatório
              </span>
              <span class="text-danger"
                    *ngIf="novoCliente.get('celular')?.errors?.['telefoneInvalido'] && novoCliente.get('celular')?.touched">
                O campo celular deve conter um numero de telefone valido
              </span>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="celular2" class="form-label">Celular 2</label>
              <input type="text" class="form-control" id="celular2" formControlName="celular2" mask="(00) 0000-0000||(00) 00000-0000">
              <span class="text-danger"
                    *ngIf="novoCliente.get('celular2')?.errors?.['telefoneInvalido'] && novoCliente.get('celular2')?.touched">
                O campo celular deve conter um numero de telefone valido
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Endereço     -->

    <div class="area-form">
      <h6>Endereço: </h6>
      <div class="row" id="rowCep">
        <div class="col-3" id="colCepInput">
          <div class="mb-3">
            <label for="cep" class="form-label">CEP</label>
            <input type="text" class="form-control" id="cep" formControlName="cep" mask="00000-000">
            <span class="text-danger"
                  *ngIf="novoCliente.get('cep')?.errors?.['required'] && novoCliente.get('cep')?.touched">
                O campo cep é obrigatório
              </span>
          </div>
        </div>
        <div class="col-6" id="colCepButton">
          <button  *ngIf="edit" class="btn btn-primary" id="buscarCep" style="margin-top: 30px" (click)="buscaCep()"
                  [disabled]="novoCliente.value.cep === null || novoCliente.value.cep === ''">Buscar CEP</button>
        </div>
      </div>
      <div class="row">
        <div class="col-10" id="colLogradouro">
          <div class="mb-3">
            <label for="logradouro" class="form-label">Logradouro</label>

            <input type="text" class="form-control" id="logradouro" formControlName="logradouro">
            <span class="text-danger"
                  *ngIf="novoCliente.get('logradouro')?.errors?.['required'] && novoCliente.get('logradouro')?.touched">
                O campo logradouro é obrigatório
              </span>
          </div>
        </div>
        <div class="col-2" id="colNumero">
          <div class="mb-3">
            <label for="numero" class="form-label">Numero</label>
            <input type="email" class="form-control" id="numero" formControlName="numero">
            <span class="text-danger"
                  *ngIf="novoCliente.get('numero')?.errors?.['required'] && novoCliente.get('numero')?.touched">
                O campo numero é obrigatório
              </span>
          </div>
        </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="complemento" class="form-label">Complemento</label>
              <input type="text" class="form-control" id="complemento" formControlName="complemento">
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="bairro" class="form-label">Bairro</label>
              <input type="text" class="form-control" id="bairro" formControlName="bairro">
              <span class="text-danger"
                    *ngIf="novoCliente.get('bairro')?.errors?.['required'] && novoCliente.get('bairro')?.touched">
                O campo bairro é obrigatório
              </span>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="cidade" class="form-label">Cidade</label>
              <input type="text" class="form-control" id="cidade" formControlName="cidade">
              <span class="text-danger"
                    *ngIf="novoCliente.get('cidade')?.errors?.['required'] && novoCliente.get('cidade')?.touched">
                O campo cidade é obrigatório
              </span>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="estado" class="form-label">Estado</label>
              <select class="form-select" formControlName="estado" id="estado">
                <option selected>Selecione um estado</option>
                <option value ="AC">Acre (AC)</option>
                <option value ="AL">Alagoas (AL)</option>
                <option value ="AP">Amapá (AP)</option>
                <option value ="AM">Amazonas (AM)</option>
                <option value ="BA">Bahia (BA)</option>
                <option value ="CE">Ceará (CE)</option>
                <option value ="DF">Distrito Federal (DF)</option>
                <option value ="ES">Espírito Santo (ES)</option>
                <option value ="GO">Goiás (GO)</option>
                <option value ="MA">Maranhão (MA)</option>
                <option value ="MT">Mato Grosso (MT)</option>
                <option value ="MS">Mato Grosso do Sul (MS)</option>
                <option value ="MG">Minas Gerais (MG)</option>
                <option value ="PA">Pará (PA)</option>
                <option value ="PB">Paraíba (PB)</option>
                <option value ="PR">Paraná (PR)</option>
                <option value ="PE">Pernambuco (PE)</option>
                <option value ="PI">Piauí (PI)</option>
                <option value ="RJ">Rio de Janeiro (RJ)</option>
                <option value ="RN">Rio Grande do Norte (RN)</option>
                <option value ="RS">Rio Grande do Sul (RS)</option>
                <option value ="RO">Rondônia (RO)</option>
                <option value ="RR">Roraima (RR)</option>
                <option value ="SC">Santa Catarina (SC)</option>
                <option value ="SP">São Paulo (SP)</option>
                <option value ="SE">Sergipe (SE)</option>
                <option value ="TO">Tocantins (TO)</option>
              </select>
              <span class="text-danger"
                    *ngIf="novoCliente.get('estado')?.errors?.['required'] && novoCliente.get('estado')?.touched">
                O campo estado é obrigatório
              </span>
            </div>
          </div>

      </div>
      <div class="botoes" *ngIf="edit">
        <button class="btn btn-danger" (click)="cancelAddCliente()">Cancelar</button>
        <button class="btn btn-success" [disabled]="!novoCliente.valid"(click)="addCliente()">Salvar</button>
      </div>
    </div>
  </form>
</div>
