<mat-toolbar class="navBar" color="primary">
  <div style="display: flex; align-items: center">
    <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    <img class="logoAlemidia" src="assets/images/Alemidia%20-%20Completo%203D%20PNG.png" [routerLink]="['/home']">
  </div>

  <div class="menuDireito">
    <div ngbDropdown class="dropdown">
      <button ngbDropdownToggle class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton1" aria-expanded="false">
        {{ nome }}
      </button>
      <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
        <li><a ngbDropdownItem class="dropdown-item opcaoMenu"><mat-icon style="margin-right: 12px"> settings</mat-icon>Trocar Senha</a></li>
        <li><hr  class="dropdown-divider"></li>
        <li (click)="logout()"><a ngbDropdownItem class="dropdown-item opcaoMenu"><mat-icon style="margin-right: 12px" > logout</mat-icon>Sair</a></li>
      </ul>
    </div>
  </div>
</mat-toolbar>

<mat-drawer-container class="area-total">
  <mat-drawer class="area-menu" #drawer>

    <div class="item-menu" (click)="goToHome();drawer.toggle()">
      <mat-icon class="icon-menu" >home </mat-icon>  Inicio
    </div>

    <div class="item-menu" (click)="exibirCadastro()">
      <mat-icon class="icon-menu">group</mat-icon> Cadastros
    </div>
    <!-- Submenu Cadastro   -->
    <div *ngIf="cadastro">
      <div class="item-sub-menu" [routerLink]="['/cadastros/clientes/listar']" (click)="drawer.toggle()">
        <mat-icon class="icon-menu">person</mat-icon> Clientes
      </div>
      <div class="item-sub-menu"  [routerLink]="['/cadastros/buffets/listar']" (click)="drawer.toggle()">
        <mat-icon class="icon-menu">domain</mat-icon> Buffets
      </div>
      <div class="item-sub-menu" [routerLink]="['/cadastros/assessores/listar']" (click)="drawer.toggle()">
        <mat-icon class="icon-menu">handshake</mat-icon> Assessoria
      </div>
    </div>
    <!-- Fim submenu Cadastro   -->

    <!-- Menu Contratos-->
    <div class="item-menu" [routerLink]="['/contratos/listar']" (click)="drawer.toggle()">
      <mat-icon class="icon-menu">point_of_sale</mat-icon> Contratos
    </div>

    <!-- Menu Agenda-->
    <div class="item-menu" [routerLink]="['/agenda/']" (click)="drawer.toggle()">
      <mat-icon class="icon-menu">calendar_month</mat-icon> Agenda
    </div>


<!--     Menu Financeiro-->
    <div class="item-menu" *ngIf="admin" (click)="exibirFinanceiro()">
      <mat-icon class="icon-menu">paid</mat-icon> Financeiro
    </div>

    <!-- Submenu Financeiro   -->
    <div *ngIf="financeiro">
      <div class="item-sub-menu" [routerLink]="['/financeiro/listar']" (click)="drawer.toggle()">
        <mat-icon class="icon-menu">person</mat-icon> Pagamentos
      </div>
    </div>
    <!-- Fim submenu Financeiro   -->

    <!-- Menu Administrativo-->

    <div class="item-menu" *ngIf="admin" (click)="exibirPainelcontrole()">
      <mat-icon class="icon-menu" >settings </mat-icon>  Ferramentas administrativas
    </div>

    <!-- Submenu Administrativo   -->
    <div *ngIf="painelControle">
      <div class="item-sub-menu" [routerLink]="['/admin/dados-empresa']" (click)="drawer.toggle()">
        <mat-icon class="icon-menu">room_preferences</mat-icon> Dados da Empresa
      </div>
      <div class="item-sub-menu"  [routerLink]="['/admin/usuarios/listar']" (click)="drawer.toggle()">
        <mat-icon class="icon-menu">group</mat-icon> Usuários
      </div>
      <div class="item-sub-menu" [routerLink]="['/admin/colaboradores/listar']" (click)="drawer.toggle()">
        <mat-icon class="icon-menu">diversity_3</mat-icon> Colaboradores
      </div>
      <div class="item-sub-menu" [routerLink]="['/admin/produtos/listar']" (click)="drawer.toggle()">
        <mat-icon class="icon-menu">shopping_bag</mat-icon> Produtos
      </div>
      <div class="item-sub-menu" (click)="exibirPagamento()">
        <mat-icon class="icon-menu">credit_card</mat-icon> Pagamento
      </div>
      <div *ngIf="pagamento">
        <div class="item-sub-sub-menu" [routerLink]="['/admin/pagamentos/formas/listar']" (click)="drawer.toggle()">
          <mat-icon class="icon-menu">credit_card</mat-icon> Formas de Pagamento
        </div>
        <div class="item-sub-sub-menu" [routerLink]="['/admin/pagamentos/condicoes/listar']" (click)="drawer.toggle()">
          <mat-icon class="icon-menu">credit_card</mat-icon> Condições de Pagamento
        </div>
      </div>

      <!-- Fim submenu Administrativo   -->
    </div>
  </mat-drawer>
  <mat-drawer-content>

    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>
