
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.areaLogin{
  min-width: 500px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

form {
  width: 80%;
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logoAlemidia{
  width: 230px;
}

.cardLogin{
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.areaLogo{
  justify-content: center;
  justify-items: center;
}

