<div class="container">

  <mat-card class="cardLogin">
    <mat-card-header class="areaLogo">
      <img class="logoAlemidia" src="assets/images/Alemidia%20-%20Completo%203D%20PNG.png">

    </mat-card-header>
    <mat-card-content class="areaLogin">

      <form action="POST" [formGroup]="loginForm">
        <div class="mb-3">
          <label for="usuario" class="form-label">Usuario</label>
          <input type="text" class="form-control" id="usuario" placeholder="Digite seu usuário" formControlName="usuario">
          <span class="text-danger"
                *ngIf="loginForm.get('login')?.errors?.['required'] && loginForm.get('login')?.touched">
            Campo obrigatório
          </span>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input type="password" class="form-control" id="password" placeholder="Digite sua senha" formControlName="password">
          <span class="text-danger"
                *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched">
            Campo obrigatório
          </span>
        </div>
        <button class="btn btn-primary" [disabled]="!loginForm.valid" (click)="login()">Login</button>
      </form>
    </mat-card-content>
  </mat-card>

</div>
