<div class="container">

  <h1 *ngIf="new && edit">Cadastrar novo Contrato</h1>
  <h1 *ngIf="view">Dados Contrato</h1>
  <h1 *ngIf="edit && !new">Editar Contrato</h1>

  <form [formGroup]="form" novalidate autocomplete="off">

    <div class="btnEditar">
      <div *ngIf="view">
        <button class="btn btn-danger" [routerLink]="'/contratos/listar'" >Voltar</button>
        <button class="btn btn-primary" (click)="editar()">Editar</button>
      </div>
      <div  *ngIf="view"  ><button class="btn btn-secondary" (click)="imprimirContrato()">Imprimir Contrato</button></div>

    </div>

    <!--Data e Produto-->
      <div class="area-form">
        <h6>Dados do Evento:</h6>
        <div class="row">
          <div class="col" *ngIf="viewNroContrato">
            <div class="mb-3">
              <label for="data_evento" class="form-label">Contrato</label>
              <div class="col-sm-10">
                <input type="number" id="id" class="form-control" formControlName="id" style="pointer-events: none; cursor: default; text-decoration: none">
              </div>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="data_evento" class="form-label">Data do evento</label>
              <div class="col-sm-10">
                <input  type="date" id="data_evento" class="form-control" formControlName="data_evento">
                <span class="text-danger"
                      *ngIf="form.get('data_evento')?.errors?.['required'] && form.get('data_evento')?.touched">
               Data do Evento é obrigatório
            </span>

              </div>
            </div>
          </div>

          <div class="col">
            <div class="mb-3">
              <label for="produtos" class="form-label">Produtos</label>
              <mat-select class="form-control"  id="produtos" formControlName="produtos" multiple >
                <mat-option *ngFor="let item of produtosAlemidia" [value]="item.slug" >{{ item.nome }}</mat-option>
              </mat-select>
              <span class="text-danger"
                    *ngIf="form.get('produtos')?.errors?.['required'] && form.get('produtos')?.touched">
               É obrigatório escolher ao menos um produto
            </span>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary " *ngIf="!etapa1" (click)="verificaDataProduto(false)"
              [disabled]="form.get('produtos')?.errors?.['required'] || form.get('data_evento')?.errors?.['required']">Verificar Data</button>
        </div>
      </div>

<!--    <div *ngIf="etapa1">-->
      <div *ngIf="etapa1">

<!--      Dados Contratante-->

      <div class="area-form">
        <h6>Dados Contratante: </h6>

        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="noivo_debutante" class="form-label">Noivos/Debutante</label>
              <input type="text"  id="noivo_debutante" class="form-control" formControlName="noivo_debutante">
              <span class="text-danger"
                    *ngIf="form.get('noivo_debutante')?.errors?.['required'] && form.get('noivo_debutante')?.touched">
              Nome dos noivos/debutante é obrigatório
            </span>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="cliente" class="form-label">Cliente</label>
              <input type="text"  id="cliente" class="form-control" formControlName="cliente" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayClientes">
                <mat-option *ngFor="let option of clientes" [value]="option">{{option.nome_razao_social}}
                </mat-option>
              </mat-autocomplete>
              <span class="text-danger"
                    *ngIf="form.get('cliente')?.errors?.['required'] && form.get('cliente')?.touched">
              Nome do cliente é obrigatório
            </span>
              <span class="text-danger"
                    *ngIf="form.controls['cliente'].hasError('incorrect') && form.get('cliente')?.touched">
              Selecione um cliente valido
            </span>
            </div>
          </div>
        </div>
      </div>

      <!-- Dados Evento     -->

      <div class="area-form">
        <h6>Dados do Evento: </h6>

        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="hora_inicio" class="form-label"> Hora Inicio</label>
              <input class="form-control" id="hora_inicio" type="time" formControlName="hora_inicio" >
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="hora_fim" class="form-label"> Hora Fim</label>
              <input class="form-control" id="hora_fim" type="time"  formControlName="hora_fim">
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="qtde_convidados" class="form-label">Quantidade Convidados</label>
              <input class="form-control" id="qtde_convidados" type="number" formControlName="qtde_convidados">
              <span class="text-danger"
                    *ngIf="form.get('qtde_convidados')?.errors?.['required'] && form.get('qtde_convidados')?.touched">
             Quantidade de convidados é obrigatório
            </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="buffet" class="form-label">Buffet / Espaço</label>
              <input type="text"  id="buffet" class="form-control" formControlName="buffet" [matAutocomplete]="autoBuffet">
              <mat-autocomplete #autoBuffet="matAutocomplete" [displayWith]="displayBuffet">
                <mat-option *ngFor="let option of buffets" [value]="option">{{option.nome_razao_social}}
                </mat-option>
              </mat-autocomplete>
              <span class="text-danger"
                    *ngIf="form.get('buffet')?.errors?.['required'] && form.get('buffet')?.touched">
              Nome do buffet é obrigatório
            </span>
              <span class="text-danger"
                    *ngIf="form.controls['buffet'].hasError('incorrect') && form.get('buffet')?.touched">
              Selecione um buffet valido
            </span>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="assessoria" class="form-label">Assessoria</label>
              <input type="text"  id="assessoria" class="form-control" formControlName="assessoria" [matAutocomplete]="autoAssessoria">
              <mat-autocomplete #autoAssessoria="matAutocomplete" [displayWith]="displayAssessoria">
                <mat-option *ngFor="let option of assessorias" [value]="option">{{option.nome_razao_social}}
                </mat-option>
              </mat-autocomplete>
              <span class="text-danger"
                    *ngIf="form.get('assessoria')?.errors?.['required'] && form.get('assessoria')?.touched">
              Nome da assessoria é obrigatório
            </span>
              <span class="text-danger"
                    *ngIf="form.controls['assessoria'].hasError('incorrect') && form.get('assessoria')?.touched">
              Selecione uma assessoria valida
            </span>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="vendedor" class="form-label">Vendedor</label>
              <input type="text"  id="vendedor" class="form-control" formControlName="vendedor" [matAutocomplete]="autoVendedor">
              <mat-autocomplete #autoVendedor="matAutocomplete" [displayWith]="displayVendedores">
                <mat-option *ngFor="let option of vendedores" [value]="option">{{option.nome}}
                </mat-option>
              </mat-autocomplete>
              <span class="text-danger"
                    *ngIf="form.get('vendedor')?.errors?.['required'] && form.get('vendedor')?.touched">
              Nome do vendedor é obrigatório
            </span>
              <span class="text-danger"
                    *ngIf="form.controls['vendedor'].hasError('incorrect') && form.get('vendedor')?.touched">
              Selecione um vendedor valido
            </span>
            </div>
          </div>
        </div>
      </div>

      <!-- Dados Produto     -->

      <div class="area-form">
        <h6>Produtos: </h6>
        <ng-container [formGroup]="produtosArrayAsFormGroup">
          <div *ngFor="let item of produtosArray.controls; let index = index" [formGroupName]="index" >
            <mat-card class="matCard">
              <mat-card-header><h4>{{ getNameCardProduto(item.value.produto) }} </h4></mat-card-header>
              <mat-card-content>
                <div class="row">
                  <div class="col">
                    <div class="mb-3">
                      <label for="quantidade" class="form-label">Quantidade</label>
                      <mat-select  class="form-control"  id="quantidade" formControlName="quantidade">
                        <mat-option *ngFor="let item of definirQtdeProdutosDisponiveis(item.value.produto)" [value]="item" >{{ item }}</mat-option>
                      </mat-select>
                      <span class="text-danger"
                            *ngIf="item.get('quantidade')?.errors?.['required'] && item.get('quantidade')?.touched">
                    Quantidade é obrigatório
                    </span>
                    </div>
                  </div>
                  <div class="col" *ngIf="['totem', 'espelho_magico', 'cabine'].includes(item.value.produto)">
                    <div class="mb-3">
                      <label for="qtde_fotos_totem" class="form-label">Quantidade Fotos</label>
                      <input class="form-control" id="qtde_fotos_totem" type="number" formControlName="quantidade_foto" >
                      <span class="labelInfo">
                    *Para fotos ilimitadas escolher numero 0
                    </span>
                      <span class="text-danger"
                          *ngIf="item.get('quantidade_foto')?.errors?.['required'] && item.get('quantidade_foto')?.touched">
                          Quantidade de fotos é obrigatório
                    </span>
                    </div>
                  </div>
                  <div class="col" *ngIf="['totem', 'cabine'].includes(item.value.produto)">
                    <div class="mb-3">
                      <label for="impressao" class="form-label">Impressão</label>
                      <mat-select class="form-control" id="impressao" formControlName="impressao">
                        <mat-option value="definir">A Definir</mat-option>
                        <mat-option value="1_pose">1 pose</mat-option>
                        <mat-option value="1_pose">4 poses</mat-option>
                        <mat-option value="tirinha">Tirinha</mat-option>
                      </mat-select>
                      <span class="text-danger"
                            *ngIf="item.get('impressao')?.errors?.['required'] && item.get('impressao')?.touched">
                              Tipo de impressão é obrigatório
                      </span>
                    </div>
                  </div>
                  <div class="col" *ngIf="['robo_led'].includes(item.value.produto)">
                    <div class="mb-3">
                      <label for="bazuca" class="form-label">Bazuca</label>
                      <mat-select class="form-control" id="bazuca" formControlName="bazuca">
                        <mat-option [value]="1">Sim</mat-option>
                        <mat-option [value]="0">Não</mat-option>
                      </mat-select>
                      <span class="text-danger"
                            *ngIf="form.get('bazuca')?.errors?.['required'] && form.get('bazuca')?.touched">
                        Campo Obrigatório
                      </span>
                    </div>
                  </div>
                  <div class="col">
                    <div class="mb-3">
                      <label for="tempo_evento" class="form-label">Tempo Evento (em horas)</label>
                      <input class="form-control" id="tempo_evento" type="number" formControlName="tempo_evento" >
                      <span class="text-danger"
                            *ngIf="item.get('tempo_evento')?.errors?.['required'] && item.get('tempo_evento')?.touched">
                          Tempo de Evento é obrigatório
                    </span>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </ng-container>
        <div class="col">
          <div class="mb-3">
            <label for="observacoes" class="form-label">Observações</label>
            <textarea class="form-control" id="observacoes" type="text" formControlName="observacoes" rows="4" maxlength="254" ></textarea>
          </div>
        </div>
      </div>

<!--      Forma de Pagamento-->

      <div class="area-form">
        <h6>Forma de Pagamento: </h6>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="condicao_pgto" class="form-label">Condição de Pagamento</label>
              <mat-select  class="form-control" formControlName="condicao_pgto" id="condicao_pgto" (valueChange)="handleCondPgto($event)">
                <mat-option *ngFor="let item of condicaoPgto" [value]="item.slug">{{ item.nome }} </mat-option>
              </mat-select>
                <span class="text-danger"
                      *ngIf="form.get('condicao_pgto')?.errors?.['required'] && form.get('condicao_pgto')?.touched">
                      Condição de pagamento é obrigatório
                </span>
            </div>
          </div>
            <div class="col">
              <div class="mb-3" *ngIf="exibeValorTotal">
                <label for="valor_total" class="form-label">Valor Total</label>
                <input class="form-control" id="valor_total" type="text" formControlName="valor_total" (blur)="handleCondPgto(form.get('condicao_pgto')?.value)"
                       currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                <span class="text-danger"
                      *ngIf="form.get('valor_total')?.errors?.['required'] && form.get('valor_total')?.touched">
                  Condição de pagamento é obrigatório
                </span>
              </div>
            </div>
          <div class="col">
            <div class="mb-3" *ngIf="exibeValorTotal && form.get('valor_total')?.value && ['parcelado'].includes(form.get('condicao_pgto')?.value)">
              <label for="parcelas" class="form-label">Parcelas</label>
              <mat-select class="form-control" formControlName="parcelas" id="parcelas" (closed)="addOpcao()">
                <mat-option *ngFor="let item of [2,3,4,5,6,7,8,9,10,11,12]" [value]="item">{{ item }} </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col">
            <div class="mb-3" *ngIf="exibeValorTotal && form.get('valor_total')?.value && ['parcelado'].includes(form.get('condicao_pgto')?.value)
                                    && form.get('parcelas')?.value">
              <label for="parcelas" class="form-label">Forma de Pagamento</label>
              <mat-select class="form-control" formControlName="forma_pgto_padrao" (closed)="addOpcao();">
                <mat-option *ngFor="let item of formaPgto" [value]="item.slug">{{ item.nome }} </mat-option>
              </mat-select>
            </div>
          </div>
            </div>
        <div class="row">
          <div class="col" *ngIf="!['a_vista', 'parcelado'].includes(form.get('condicao_pgto')?.value) && (form.get('condicao_pgto')?.value)">
            <div class="mb-3">
              <label for="observacao_pagamento" class="form-label">Observações:</label>
              <input class="form-control" id="observacao_pagamento" type="text" formControlName="observacao_pagamento">
            </div>
          </div>
        </div>

          <ng-container *ngIf="exibeValorTotal && ['a_vista'].includes(form.get('condicao_pgto')?.value)" [formGroup]="formArrayAsFormGroup">
              <div class="areaPgto">
                <table>
                  <tr>
                    <th>Data Pagamento</th>
                    <th>Forma de Pagamento</th>
                    <th>Valor</th>
                  </tr>
                  <tr *ngFor="let item of formArray.controls; let index = index; let last = last; let first = first" [formGroupName]="index">
                    <td>
                      <input class="form-control" type="date" formControlName="data_pagamento" >
                    </td>
                    <td>
                      <mat-select class="form-control" formControlName="forma_pagamento">
                        <mat-option *ngFor="let item of formaPgto" [value]="item.slug">{{ item.nome }} </mat-option>
                      </mat-select>
                    </td>
                    <td>
                      <input class="form-control" type="text" formControlName="valor" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" >
                    </td>
                  </tr>
                </table>
            </div>
          </ng-container>

        <ng-container *ngIf="['parcelado'].includes(form.get('condicao_pgto')?.value) && form.get('parcelas')?.value
                             && form.get('forma_pgto_padrao')?.value" [formGroup]="formArrayAsFormGroup">
          <div class="areaPgto">
            <table>
              <tr class="cabecalhoTabela">
                <th></th>
                <th>Data Pagamento</th>
                <th>Forma de Pagamento</th>
                <th >Valor</th>
              </tr>
              <tr *ngFor="let item of formArray.controls; let index = index; let last = last; let first = first" [formGroupName]="index">
                <td> {{index + 1}}</td>
                <td>
                  <input class="form-control" type="date" formControlName="data_pagamento" (input)="alteraDataParcelamento(index)">
                </td>
                <td>
                  <mat-select class="form-control" formControlName="forma_pagamento">
                    <mat-option *ngFor="let item of formaPgto" [value]="item.slug">{{ item.nome }} </mat-option>
                  </mat-select>
                </td>
                <td>
                  <input class="form-control" type="text" formControlName="valor"  currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" (blur)="recalculaValorParcela(index)">
                </td>
              </tr>
            </table>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="botoes" *ngIf="edit" style="display: flex;justify-content: space-between">
      <div>
        <button type="button" class="btn btn-outline-danger" *ngIf="cancelContrato" (click)="cancelarContrato()">Cancelar Contrato</button>
      </div>
     <div>
       <button class="btn btn-danger" (click)="cancelAdd()">Cancelar</button>
       <button class="btn btn-success" [disabled]="!form.valid"(click)="save()">Salvar</button>
     </div>
    </div>
  </form>
</div>



