<div class="container">

  <h1 *ngIf="new && edit">Cadastrar novo Contrato</h1>
  <h1 *ngIf="view">Dados Contrato</h1>
  <h1 *ngIf="edit && !new">Editar Contrato</h1>

  <form [formGroup]="novoEvento" novalidate>

    <!-- Verifica se é PF ou PJ -->
    <div class="btnEditar">
      <div *ngIf="view">
        <button class="btn btn-danger" [routerLink]="'/contratos/listar'" >Voltar</button>
        <button class="btn btn-primary" (click)="editar()">Editar</button>
      </div>

    </div>

    <!--Data e Produto-->
      <div class="area-form">
        <h6>Dados do Evento:</h6>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="data_evento" class="form-label">Data do evento</label>
              <div class="col-sm-10">
                <input (blur)="verificaDataProduto()" type="date" id="data_evento" class="form-control" formControlName="data_evento">
                <span class="text-danger"
                      *ngIf="novoEvento.get('data_evento')?.errors?.['required'] && novoEvento.get('data_evento')?.touched">
               Data do Evento é obrigatório
            </span>

              </div>
            </div>
          </div>

          <div class="col">
            <div class="mb-3">
              <label for="produtos" class="form-label">Produtos</label>
              <mat-select (closed)="verificaDataProduto()" class="form-control" formControlName="produtos" id="produtos" multiple >
                <mat-option *ngFor="let item of produtosAlemidia" [value]="item.slug" >{{ item.nome }}</mat-option>
              </mat-select>
              <span class="text-danger"
                    *ngIf="novoEvento.get('produtos')?.errors?.['required'] && novoEvento.get('produtos')?.touched">
               É obrigatório escolher ao menos um produto
            </span>
            </div>
          </div>
        </div>
      </div>

<!--    <div *ngIf="etapa1">-->
      <div *ngIf="true">

<!--      Dados Contratante-->

      <div class="area-form">
        <h6>Dados Contratante: </h6>

        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="noivo_debutante" class="form-label">Noivos/Debutante</label>
              <input type="text"  id="noivo_debutante" class="form-control" formControlName="noivo_debutante">
              <span class="text-danger"
                    *ngIf="novoEvento.get('noivo_debutante')?.errors?.['required'] && novoEvento.get('noivo_debutante')?.touched">
              Nome dos noivos/debutante é obrigatório
            </span>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="cliente" class="form-label">Cliente</label>
              <input type="text"  id="cliente" class="form-control" formControlName="cliente" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayClientes">
                <mat-option *ngFor="let option of clientes" [value]="option">{{option.nome_razao_social}}
                </mat-option>
              </mat-autocomplete>
              <span class="text-danger"
                    *ngIf="novoEvento.get('cliente')?.errors?.['required'] && novoEvento.get('cliente')?.touched">
              Nome do cliente é obrigatório
            </span>
              <span class="text-danger"
                    *ngIf="novoEvento.controls['cliente'].hasError('incorrect') && novoEvento.get('cliente')?.touched">
              Selecione um cliente valido
            </span>
            </div>
          </div>
        </div>
      </div>

      <!-- Dados Evento     -->

      <div class="area-form">
        <h6>Dados do Evento: </h6>

        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="hora_inicio" class="form-label"> Hora Inicio</label>
              <input class="form-control" id="hora_inicio" type="time" formControlName="hora_inicio" >
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="hora_fim" class="form-label"> Hora Fim</label>
              <input class="form-control" id="hora_fim" type="time"  formControlName="hora_fim">
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="qtde_convidados" class="form-label">Quantidade Convidados</label>
              <input class="form-control" id="qtde_convidados" type="number" formControlName="qtde_convidados">
              <span class="text-danger"
                    *ngIf="novoEvento.get('qtde_convidados')?.errors?.['required'] && novoEvento.get('qtde_convidados')?.touched">
             Quantidade de convidados é obrigatório
            </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="buffet" class="form-label">Buffet / Espaço</label>
              <input type="text"  id="buffet" class="form-control" formControlName="buffet" [matAutocomplete]="autoBuffet">
              <mat-autocomplete #autoBuffet="matAutocomplete" [displayWith]="displayBuffet">
                <mat-option *ngFor="let option of buffets" [value]="option">{{option.nome_razao_social}}
                </mat-option>
              </mat-autocomplete>
              <span class="text-danger"
                    *ngIf="novoEvento.get('buffet')?.errors?.['required'] && novoEvento.get('buffet')?.touched">
              Nome do buffet é obrigatório
            </span>
              <span class="text-danger"
                    *ngIf="novoEvento.controls['buffet'].hasError('incorrect') && novoEvento.get('buffet')?.touched">
              Selecione um buffet valido
            </span>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="assessoria" class="form-label">Assessoria</label>
              <input type="text"  id="assessoria" class="form-control" formControlName="assessoria" [matAutocomplete]="autoAssessoria">
              <mat-autocomplete #autoAssessoria="matAutocomplete" [displayWith]="displayAssessoria">
                <mat-option *ngFor="let option of assessorias" [value]="option">{{option.nome_razao_social}}
                </mat-option>
              </mat-autocomplete>
              <span class="text-danger"
                    *ngIf="novoEvento.get('assessoria')?.errors?.['required'] && novoEvento.get('assessoria')?.touched">
              Nome da assessoria é obrigatório
            </span>
              <span class="text-danger"
                    *ngIf="novoEvento.controls['assessoria'].hasError('incorrect') && novoEvento.get('assessoria')?.touched">
              Selecione uma assessoria valida
            </span>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="vendedor" class="form-label">Vendedor</label>
              <input type="text"  id="vendedor" class="form-control" formControlName="vendedor" [matAutocomplete]="autoVendedor">
              <mat-autocomplete #autoVendedor="matAutocomplete" [displayWith]="displayVendedores">
                <mat-option *ngFor="let option of vendedores" [value]="option">{{option.nome}}
                </mat-option>
              </mat-autocomplete>
              <span class="text-danger"
                    *ngIf="novoEvento.get('vendedor')?.errors?.['required'] && novoEvento.get('vendedor')?.touched">
              Nome do vendedor é obrigatório
            </span>
              <span class="text-danger"
                    *ngIf="novoEvento.controls['vendedor'].hasError('incorrect') && novoEvento.get('vendedor')?.touched">
              Selecione um vendedor valido
            </span>
            </div>
          </div>
        </div>
      </div>

      <!-- Dados Produto     -->

      <div class="area-form">
        <h6>Produtos: </h6>

        <div *ngFor="let item of novoEvento.controls['produtos'].value ">
          <!-- Totem -->
          <ng-container  *ngIf="item == 'totem'">
            <mat-card class="matCard">
              <mat-card-header><h4>Totem</h4></mat-card-header>
              <mat-card-content>
                <div class="row">
                  <div class="col">
                    <div class="mb-3">
                      <label for="qtde_totem" class="form-label">Quantidade Totem</label>
                      <mat-select  class="form-control" formControlName="qtde_totem" id="qtde_totem" >
                        <mat-option *ngFor="let item of qtdeTotemDisponivel" [value]="item" >{{ item }}</mat-option>
                      </mat-select>
                      <span class="text-danger"
                            *ngIf="novoEvento.get('qtde_totem')?.errors?.['required'] && novoEvento.get('qtde_totem')?.touched">
                      Quantidade de totem é obrigatório
                      </span>
                    </div>
                  </div>
                  <div class="col">
                    <div class="mb-3">
                      <label for="qtde_fotos_totem" class="form-label">Quantidade Fotos</label>
                      <input class="form-control" id="qtde_fotos_totem" type="number" formControlName="qtde_fotos_totem">
                      <span class="labelInfo">
                      *Para fotos ilimitadas escolher numero 0
                      </span>
                      <span class="text-danger"
                            *ngIf="novoEvento.get('qtde_fotos_totem')?.errors?.['required'] && novoEvento.get('qtde_fotos_totem')?.touched">
                      Quantidade de fotos é obrigatório
                      </span>
                    </div>
                  </div>
                  <div class="col">
                    <div class="mb-3">
                      <label for="impressao_totem" class="form-label">Impressão</label>
                      <mat-select class="form-control" formControlName="impressao_totem" id="impressao_totem" >
                        <mat-option value="definir">A Definir</mat-option>
                        <mat-option value="1_pose">1 pose</mat-option>
                        <mat-option value="1_pose">4 poses</mat-option>
                        <mat-option value="tirinha">Tirinha</mat-option>
                      </mat-select>
                      <span class="text-danger"
                            *ngIf="novoEvento.get('impressao_totem')?.errors?.['required'] && novoEvento.get('impressao_totem')?.touched">
                      Tipo de impressão é obrigatório
                </span>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </ng-container>

          <!-- Cabine-->
          <ng-container  *ngIf="item == 'cabine'">
            <mat-card class="matCard">
              <mat-card-header><h4>Cabine</h4></mat-card-header>
              <mat-card-content>
                <div class="row">
                  <div class="col">
                    <div class="mb-3">
                      <label for="qtde_cabine" class="form-label">Quantidade Cabine</label>
                      <mat-select  class="form-control" formControlName="qtde_cabine" id="qtde_cabine" >
                        <mat-option *ngFor="let item of qtdeCabineDisponivel" [value]="item" >{{ item }}</mat-option>
                      </mat-select>
                      <span class="text-danger"
                            *ngIf="novoEvento.get('qtde_cabine')?.errors?.['required'] && novoEvento.get('qtde_cabine')?.touched">
                      Quantidade de cabine é obrigatório
                      </span>
                    </div>
                  </div>
                  <div class="col">
                    <div class="mb-3">
                      <label for="qtde_fotos_cabine" class="form-label">Quantidade Fotos</label>
                      <input class="form-control" id="qtde_fotos_cabine" type="number" formControlName="qtde_fotos_cabine">
                      <span class="labelInfo">
                      *Para fotos ilimitadas escolher numero 0
                      </span>
                      <span class="text-danger"
                            *ngIf="novoEvento.get('qtde_fotos_cabine')?.errors?.['required'] && novoEvento.get('qtde_fotos_cabine')?.touched">
                      Quantidade de fotos é obrigatório
                      </span>
                    </div>
                  </div>
                  <div class="col">
                    <div class="mb-3">
                      <label for="impressao_cabine" class="form-label">Impressão</label>
                      <mat-select class="form-control" formControlName="impressao_cabine" id="impressao_cabine" >
                        <mat-option value="definir">A Definir</mat-option>
                        <mat-option value="1_pose">1 pose</mat-option>
                        <mat-option value="1_pose">4 poses</mat-option>
                        <mat-option value="tirinha">Tirinha</mat-option>
                      </mat-select>
                      <span class="text-danger"
                            *ngIf="novoEvento.get('impressao_cabine')?.errors?.['required'] && novoEvento.get('impressao_cabine')?.touched">
                     Tipo de impressão é obrigatório
                </span>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </ng-container>

          <!-- Robo-->
          <ng-container  *ngIf="item == 'robo_led'">
            <mat-card class="matCard">
              <mat-card-header><h4>Robo</h4></mat-card-header>
              <mat-card-content>
                <div class="row">
                  <div class="col">
                    <div class="form-check" >
                      <input class="form-check-input" type="checkbox" value="" id="robo_bazuca" formControlName="robo_bazuca">
                      <label class="form-check-label" for="robo_bazuca" style="margin-top: 2px">
                        Bazuca com Co²
                      </label>
                    </div>
                  </div>

                </div>
              </mat-card-content>
            </mat-card>
          </ng-container>
        </div>

        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="observacao" class="form-label">Observações:</label>
              <textarea class="form-control" id="observacao" aria-label="Descrição"formControlName="observacao" rows="4" maxlength="254"></textarea>
            </div>
          </div>
        </div>
      </div>

<!--      Forma de Pagamento-->

      <div class="area-form">
        <h6>Forma de Pagamento: </h6>

        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="condicao_pgto" class="form-label">Condição de Pagamento</label>
              <mat-select (closed)="selectedCondicaoPgto()" class="form-control" formControlName="condicao_pgto" id="condicao_pgto" (valueChange)="handleCondPgto($event)">
                <mat-option *ngFor="let item of condicaoPgto" [value]="item.slug">{{ item.nome }} </mat-option>
              </mat-select>
              <span class="text-danger"
                    *ngIf="novoEvento.get('condicao_pgto')?.errors?.['required'] && novoEvento.get('condicao_pgto')?.touched">
              Condição de pagamento é obrigatório
            </span>
            </div>
            </div>
            <div class="col">
              <div class="mb-3" *ngIf="exibeValorTotal">
                <label for="valor_total" class="form-label">Valor Total</label>
                <input class="form-control" id="valor_total" type="text" formControlName="valor_total" (blur)="handleCondPgto(novoEvento.get('condicao_pgto')?.value)"
                       currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                <span class="text-danger"
                      *ngIf="novoEvento.get('valor_total')?.errors?.['required'] && novoEvento.get('valor_total')?.touched">
                  Condição de pagamento é obrigatório
                </span>
              </div>
            </div>
          <div class="col">
            <div class="mb-3" *ngIf="exibeValorTotal && novoEvento.get('valor_total')?.value && ['parcelado'].includes(novoEvento.get('condicao_pgto')?.value)">
              <label for="parcelas" class="form-label">Parcelas</label>
              <mat-select class="form-control" formControlName="parcelas" id="parcelas" (closed)="addOpcao()">
                <mat-option *ngFor="let item of [2,3,4,5,6,7,8,9,10,11,12]" [value]="item">{{ item }} </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col">
            <div class="mb-3" *ngIf="exibeValorTotal && novoEvento.get('valor_total')?.value && ['parcelado'].includes(novoEvento.get('condicao_pgto')?.value)
                                    && novoEvento.get('parcelas')?.value">
              <label for="parcelas" class="form-label">Forma de Pagamento</label>
              <mat-select class="form-control" formControlName="forma_pgto_padrao" (closed)="addOpcao();">
                <mat-option *ngFor="let item of formaPgto" [value]="item.slug">{{ item.nome }} </mat-option>
              </mat-select>
            </div>
          </div>
            </div>



          <ng-container *ngIf="exibeValorTotal && ['a_vista'].includes(novoEvento.get('condicao_pgto')?.value)" [formGroup]="formArrayAsFormGroup">
              <div class="areaPgto">
                <table>
                  <tr>

                    <th>Data Pagamento</th>
                    <th>Forma de Pagamento</th>
                    <th>Valor</th>
                  </tr>
                  <tr *ngFor="let item of formArray.controls; let index = index; let last = last; let first = first" [formGroupName]="index">
                    <td>
                      <input class="form-control" type="date" formControlName="data_pagamento" >
                    </td>
                    <td>
                      <mat-select class="form-control" formControlName="forma_pagamento">
                        <mat-option *ngFor="let item of formaPgto" [value]="item.slug">{{ item.nome }} </mat-option>
                      </mat-select>
                    </td>
                    <td>
                      <input class="form-control" type="text" formControlName="valor" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" >
                    </td>
                  </tr>
                </table>
            </div>
          </ng-container>

        <ng-container *ngIf="['parcelado'].includes(novoEvento.get('condicao_pgto')?.value) && novoEvento.get('parcelas')?.value
                             && novoEvento.get('forma_pgto_padrao')?.value" [formGroup]="formArrayAsFormGroup">
          <div class="areaPgto">
            <table>
              <tr>
                <th></th>
                <th>Data Pagamento</th>
                <th>Forma de Pagamento</th>
                <th >Valor</th>
              </tr>
              <tr *ngFor="let item of formArray.controls; let index = index; let last = last; let first = first" [formGroupName]="index">
                <td> {{index + 1}}</td>
                <td>
                  <input class="form-control" type="date" formControlName="data_pagamento" >
                </td>
                <td>
                  <mat-select class="form-control" formControlName="forma_pagamento">
                    <mat-option *ngFor="let item of formaPgto" [value]="item.slug">{{ item.nome }} </mat-option>
                  </mat-select>
                </td>
                <td>
                  <input class="form-control" type="text" formControlName="valor" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" >
                </td>
              </tr>
            </table>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="botoes" *ngIf="edit">
      <button (click)="teste()">Teste</button>
      <button class="btn btn-danger" (click)="cancelAdd()">Cancelar</button>
      <button class="btn btn-success" [disabled]="!novoEvento.valid"(click)="addContrato()">Salvar</button>
    </div>
  </form>
</div>




